body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f1ecec;
}
/* top section  */
.top-section{
    background-color:#161616;
    width: 80%;
    height: 80vh;
    margin-left: 10%;
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    
}
.half-width{
    width: 50%;
    height: 100%;
    padding-left: 5%;

}

.hafl-width-heading{
    color: #ffffff;
    font-size: 3.5em;
    font-weight: 700;

}
.hafl-width-paragraph{
    color: #FFFFFF;
    font-size: 1em;
}
.banner-img{
    margin-top: 10%;
    height: 91%;
}

    /* button animation  */

.watch-btn {
    border-radius: 4px;
    background-color: #DD0000;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
  }
  
  .watch-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .watch-btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 20px;
    transition: 0.5s;
  }
  
  .watch-btn:hover span {
    padding-right: 15px;
  }
  
  .watch-btn:hover span:after {
    opacity: 1;
    right: 0;
  }




 /* aside bar  */
.side-menu-container{
    background-color: #161616;
    width: 222px;
    height: 312px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.bottom-box-section{
    margin-top: 10%;
    margin-left: 10%;
    float: left;
}
.side-menu {
    width: 192px;
    height: 60px;
    font-weight: 500;
    font-size: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #161616;
    text-decoration: none;
}
.match{
    background-color: #DD0000;
    color: #FFFFFF;
}
.box-container{
    width: 100%;
    margin-left: 1%;
}
.boxes{
    width: 60%;
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin-left: 27%;
}
.box{
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: 5% 5%;
    text-align: center;
}
.team{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.team img{
    width: 30%;
}
.box h1{
    font-size: 1.2em;
}
.box p{
    font-size: 0.9em;
}

.hidden-btn{
    background-color: #DD0000;
    color: #fff;
    border: 1px solid lightgray;
    font-size: 2em;
    padding: 2% 6%;
    border-radius: 5px;
}

/* hiddne button style  */
.hidden-section{
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;

}
 /* footer section  */

 footer{
    background-color: #161616;
    width: 100vw;
    height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 8%;
}

.footer-items{
    width: 60%;
    text-align: center;
}

.footer-items h1{
    color: #FFFFFF;
}
hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 5% 0;
}

.footer-bottom-items{
    display: flex;
    justify-content: space-evenly;
}

.footer-bottom-items p{
    color: #B9B9B9;
    font: 1.5em;
}
/* footer icon  */
.social-icon a{
    text-decoration: none;
    color: lightgray;
    margin: 10px;
}

.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* media query for tablet responsive  */

@media only screen and (min-width:689px) and (max-width:992px){
    .top-section{
        width: 90%;
        height: 40vh;
        margin-top: 0 auto;
        margin-left: 40px;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    /* button animation  */

    .watch-btn {
        border-radius: 4px;
        background-color: #DD0000;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
        padding: 10px;
        transition: all 0.5s;
        cursor: pointer;
      }
      
      .watch-btn span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      
      .watch-btn span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: 20px;
        transition: 0.5s;
      }
      
      .watch-btn:hover span {
        padding-right: 15px;
      }
      
      .watch-btn:hover span:after {
        opacity: 1;
        right: 0;
      }
    



    .half-width{
        width: 90%;
        height: 100%;
    }
    .description{
        height: 95%;
    }
    .hafl-width-heading{
        font-size: 2em;
    }
    .half-width-paragraph{
        font-size: 5px;
    }
    .banner-img{
        margin-top: 10%;
        width: 80%;
        height: 93%;
    }
    .side-menu-container{
        background-color: #f1ecec;
        width: 85vw;
        margin-left: 2.5%;
        height: 0; 
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .side-menu{
        width: 192px;
        height: 70px;
        border: 1px solid lightgray;
    }
     .bottom-box-section{
        margin-top: 10%;
        margin-left: 5%;
    }
    .box-container{
        width: 90%;
        display: grid;
        justify-items: end;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border: 1 px solid indianred;
    }
    .boxes{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        width: 90vw;
        /* margin-left: 40%; */
        align-items: center;
        justify-items: end;
    }
    .box{
        width: 70%;
        height: 65%;     
    }
    /* hidden button visible  */

    .hidden-section{
        visibility: visible;
    }

    .footer{
        background-color: #161616;
        width: 100vw;
        height: 70vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 20%;
        padding: 10%;
    }
    .footer-items{
        width: 90%;
    }
}

/* media query for moblie responsiv */

@media only screen and (max-width:688px) {
    .top-section{
        width: 85%;
        margin-left: 8%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        
    }
    .half-width{
        flex-direction: column;
        width: 100%;
        height: 40%;
    }
    .description{
        width: 180px;
        display: flex;
        padding-top: 5%;
        align-items: flex-start;
        justify-content: center;
        
    }
    .hafl-width-heading{
        width: 100%;
        font-size: 22px;
    }
    .hafl-width-paragraph{
        font-size: 1em;
        width: 100%;
        height: 40px;
        overflow: hidden; 
        text-overflow: ellipsis; 
        white-space: nowrap;
    }
   

    /* button animation  */

    .watch-btn {
        border-radius: 4px;
        background-color: #DD0000;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
        padding: 10px;
        transition: all 0.5s;
        cursor: pointer;
      }
      
      .watch-btn span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      
      .watch-btn span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: 20px;
        transition: 0.5s;
      }
      
      .watch-btn:hover span {
        padding-right: 15px;
      }
      
      .watch-btn:hover span:after {
        opacity: 1;
        right: 0;
      
      }

    .banner-img{
        width: 100%;
        height: 99%;

    }

    .side-menu-container{
        width: 275px;
        height: 312px;
        background-color: #f1ecec;
        border-radius: 10px;
        margin-left: 15%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
        flex-wrap: nowrap;
    }
    
    .side-menu{
        width: 278px;
        height: 60px;
        font-weight: 500;
        font-size: 20px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
        color: #161616;
        text-decoration: none;
    }
    .match{
        background-color: #DD0000;
        color: #FFFFFF;
}

/* box section  */

.bottom-box-section{
    margin-top: 10%;
    margin-left: 5%;
}
.box-container{
    width: 90%;
    display: grid;
    justify-items: end;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
}
.boxes{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100vw;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.box{
    width: 70%;
    height: 70%;     
}
 
/* footer section  */

footer{
    background-color: #161616;
    width: 100vw;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 8%;
}


.footer-section{
    height: 90vh;
}
.footer-bottom-items{
display: flex;
justify-content: space-evenly;
flex-direction: column;
}


}