body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #f1ecec;
}
/* top banner  */
.top-section{
    background-color:#161616;
    width: 80%;
    height: 80vh;
    margin-left: 10%;
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    
}
.half-width{
    width: 50%;
    height: 100%;
    padding-left: 5%;

}

.hafl-width-heading{
    color: #ffffff;
    font-size: 3.5em;
    font-weight: 700;

}
.hafl-width-paragraph{
    color: #FFFFFF;
    font-size: 1em;
}
.banner-img{
    margin-top: 10%;
    height: 91%;
}
.watch-btn{
    background-color: #DD0000;
    color: #ffffff;
    font-size: 1.5em;
    padding: 2% 4%;
    border-radius: 3px;
    border: none;
}
/* aside menu bar  */
.side-menu-container{
    background-color: #161616;
    width: 222px;
    height: 312px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.bottom-box-section{
    
    margin-left: 10%;
    float: left;
}
.side-menu {
    width: 192px;
    height: 60px;
    font-weight: 500;
    font-size: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #161616;
    text-decoration: none;
}
.blog{
    background-color: #DD0000;
    color: #FFFFFF;
}
/* player box section */
.box-container{
    /* height: 160vh; */
    width: 100%;
    margin-left: 1%;
}
.boxes{
    width: 63%;
    /* height: 45vh; */
    margin-top: 10%;
    /* margin-left: 40%; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin-left: 27%;
}
.box{
    border-radius: 10px;
    border: 1px solid lightgray;
}
.box-info{
    margin-left: 5%;
}
.box img{
    width: 100%;
}
.time img{
    width: 1em;
    height: 1.5em;
}

.time{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
}
/* foooter section  */

footer{
    background-color: #161616;
    width: 100vw;
    height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 8%;
}

.footer-items{
    width: 70%;
    /* margin-left: 15%; */
    margin-top: 5%;
    text-align: center;
}

.footer-items h1{
    color: #FFFFFF;
}
hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 5% 0;
}

.footer-bottom-items{
    display: flex;
    justify-content: space-evenly;
}

.footer-bottom-items p{
    color: #B9B9B9;
    font: 1.5em;
}
.social-icon a{
    text-decoration: none;
    color: lightgray;
    margin: 10px;
}
/* media query section for tablet  */
@media only screen and (min-width:689px) and (max-width:992px) {
    .top-section{
        width: 90%;
        height: 40vh;
        margin-top: 0 auto;
        margin-left: 40px;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .half-width{
        width: 90%;
        height: 100%;
    }
    .description{
        height: 70%;
    }
    .hafl-width-heading{
        font-size: 2em;
    }
    .half-width-paragraph{
        font-size: 5px;
    }
    .banner-img{
        width: 80%;
        height: 92%;
    }
    .side-menu-container{
        background-color: #f1ecec;
        width: 90vw;
        height: 20%;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .side-menu{
        width: 192px;
        height: 70px;
        border: 1px solid lightgray;
    }
     .bottom-box-section{
        margin-top: 10%;
        margin-left: 5%;
    }
    .box-container{
        width: 100%;
        display: grid;
        justify-items: end;
        flex-direction: row;
        
    }
    .boxes{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        justify-items: center;
        align-items: center;
    }
    .box{
        width: 90%;      
    }
    .box img{
        width: 100%;
    }
    .box-info img{
        width: 1.5em;
        height: 1.5em;
    }
    .footer-section{
        padding-bottom: 7%;
        /* flex-direction: column; */
    }
    .footer-bottom-items{
        flex-direction: row;
        flex-wrap: wrap;
    }
}


/* media query section for mobile */
@media only screen and (max-width:688px) {
    .top-section{
        width: 85%;
        height: 50%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        
    }
    .half-width{
        flex-direction: column;
        width: 100%;
        height: 50%;
    }
    .description{
        width: 180px;
        display: flex;
        padding-top: 5%;
        align-items: flex-start;
        justify-content: center;
        
    }
    .hafl-width-heading{
        font-size: 22px;
    }
    .hafl-width-paragraph{
        font-size: 1em;
        width: 100%;
        height: 40px;
        overflow: hidden; 
        text-overflow: ellipsis; 
        white-space: nowrap;
    }
    .watch-btn{
        padding: 5% 6%;
    }
    .banner-img{
        width: 100%;

    }

    .side-menu-container{
        width: 275px;
        height: 312px;
        background-color: #f1ecec;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
        flex-wrap: nowrap;
    }
    
    .side-menu{
        width: 238px;
        height: 60px;
        font-weight: 500;
        font-size: 20px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
        color: #161616;
        text-decoration: none;
    }
    .blog{
        background-color: #DD0000;
        color: #FFFFFF;
    }
    .boxes{
        width: 95%;
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 2%;
    }
   .footer-bottom-items{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
   }
   .social-icon{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
   }
}
