body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f1ecec;
}
.top-section{
    background-color:#161616;
    width: 80%;
    height: 80vh;
    margin-left: 10%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    
}
.half-width{
    width: 50%;
    padding-left: 10%;

}

.hafl-width-heading{
    color: #ffffff;
    font-size: 3.5em;
    font-weight: 700;

}
.hafl-width-paragraph{
    color: #FFFFFF;
    font-size: 1em;
}
.watch-btn{
    background-color: #DD0000;
    color: #ffffff;
    font-size: 1.5em;
    padding: 2% 4%;
    border-radius: 3px;
    border: none;
}
 /* aside bar  */
.side-menu-container{
    background-color: #161616;
    width: 312px;
    height: 312px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.bottom-box-section{
    margin-top: 10%;
    margin-left: 10%;
    float: left;
}
.side-menu {
    width: 252px;
    height: 64px;
    font-weight: 500;
    font-size: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #161616;
}
.blog{
    background-color: #DD0000;
    color: #FFFFFF;
}